<!-- start: SEARCH FORM -->
<!-- <div ng-if="userR === 'Admin'" class="search-form">
    <a class="s-open" href="#">
        <i class="ti-search"></i>
    </a>
    <form class="navbar-form" role="search">
        <a class="s-remove" href="#" ng-toggle-class="search-open" target=".navbar-form">
            <i class="ti-close"></i>
        </a>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="{{ 'sidebar.search.PLACEHOLDER' | translate }}">
            <button class="btn search-button" type="submit">
				<i class="ti-search"></i>
			</button>
        </div>
    </form>
</div> -->
<!-- end: SEARCH FORM -->
<!-- start: MAIN NAVIGATION MENU -->
<!-- <div class="navbar-title">
    <span translate="sidebar.heading.NAVIGATION">Main Navigation</span>
</div> -->

<ul  class="main-navigation-menu" ng-controller="SparklineCtrl">
    <li ui-sref-active="active">
        <a ui-sref="app.dashboard">
            <div ng-if="userR === 'Admin'" class="item-content">
                <div class="item-media">
                    <i class="ti-home"></i>
                </div>
                <div class="item-inner">
                    <span class="title"> Dashboard </span>
                </div>
            </div>
        </a>
    </li>
    <!-- Client -->
  <!--   <li ui-sref-active="active">
        <a ui-sref="app.Client">
            <div ng-if="userR === 'Client'" class="item-content">
                <div class="item-media">
                    <i class="fa fa-user" aria-hidden="true"></i>
                </div>
                <div class="item-inner">
                    <span class="title"> Client </span>
                </div>
            </div>
        </a>
    </li> -->
    <!-- Fin : Client -->
    <!--  Debut : Reservation  -->
 
    <!--  Fin : Reservation -->
    <!-- Panier -->
    <li ui-sref-active="active">
        <a ui-sref="app.Panier">
            <div ng-if="userR === 'livreur'" class="item-content">
                <div class="item-media">
                    <i class="fa  fa-shopping-cart" aria-hidden="true"></i>
                </div>
                <div class="item-inner">
                    <span class="title"> Panier </span>
                </div>
            </div>
        </a>
    </li>
    <!-- Fin : Panier -->
    <!-- Liste des Clients -->
    <li ui-sref-active="active">
        <a ui-sref="app.BdClients">
            <div ng-if="userR === 'Service Clients'" class="item-content">
                <div class="item-media">
                    <i class="fa fa-users" aria-hidden="true"></i>
                </div>
                <div class="item-inner">
                    <span class="title">  Liste des Clients </span>
                </div>
            </div>
        </a>
    </li>

    <!-- Reserver pour un client   -->

       <li ui-sref-active="active">
        <a ui-sref="app.Reservation">
            <div ng-if="userR === 'Client'" class="item-content">
                <div class="item-media">
                    <i class="fa fa-user" aria-hidden="true"></i>
                </div>
                <div class="item-inner">
                    <span class="title"> Reservation </span>
                </div>
            </div>
        </a>
    </li>
    <!-- Liste des Clients -->
  <!--   <li ui-sref-active="active">
        <a ui-sref="app.MonRecu">
            <! ng-if="userR === 'Service Clients'" 
            <div class="item-content">
                <div class="item-media">
                    <i class="fa fa-male" aria-hidden="true"></i>
                </div>
                <div class="item-inner">
                    <span class="title">  mon Recu </span>
                </div>
            </div>
        </a>
    </li> -->
    <!-- Reserver pour un client   -->

    <!-- <li ui-sref-active="active">
        <a ui-sref="app.ReserverSC">
            <div ng-if="userR === 'Service Clients'" class="item-content">
                <div class="item-media">
                    <i class="fa fa-reply" aria-hidden="true"></i>
                </div>
                <div class="item-inner">
                    <span class="title"> Service Clients  :  Reserver  </span>
                </div>
            </div>
        </a>
    </li> -->
    <!-- Fin : Reserver pour un client  -->
    <!-- Fin : Liste des Clients -->
    <!-- Commandes En Attente -->
    <li ui-sref-active="active">
        <a ui-sref="app.BdCommandes">
            <div ng-if="userR === 'Service Clients'" class="item-content">
                <div class="item-media">
                    <i class="fa fa-clock-o" aria-hidden="true"></i>
                </div>
                <div class="item-inner">
                    <span class="title"> Commandes En Attente </span>
                </div>
            </div>
        </a>
    </li>
    <!-- Fin : Commandes En Attente -->
    <!-- Commandes  Done -->
    <li ui-sref-active="active">
        <a ui-sref="app.BdCommandesDone">
            <div ng-if="userR === 'Service Clients'" class="item-content">
                <div class="item-media">
                    <i class="fa fa-clock-o" aria-hidden="true"></i>
                </div>
                <div class="item-inner">
                    <span class="title"> Commandes Done </span>
                </div>
            </div>
        </a>
    </li>
    <!-- Fin : Commandes  Done -->
    <!-- Commandes confirmé -->
    <li ui-sref-active="active">
        <a ui-sref="app.BdLSC">
            <div ng-if="userR === 'Service Livraison'" class="item-content">
                <div class="item-media">
                    <i class="fa fa-check-circle-o" aria-hidden="true"></i>
                </div>
                <div class="item-inner">
                    <span class="title">  Commandes Confirmé </span>
                </div>
            </div>
        </a>
    </li>
    <!-- Fin : Commandes confirmé -->
    <!-- Commandes Confirmé SP  -->
    <li ui-sref-active="active">
        <a ui-sref="app.SLSP">
            <div ng-if="userR === 'Service Livraison'" class="item-content">
                <div class="item-media">
                    <i class="fa fa-check-circle-o" aria-hidden="true"></i>
                </div>
                <div class="item-inner">
                    <span class="title">  Commandes a livrer </span>
                </div>
            </div>
        </a>
    </li>
    <!-- Fin : Commandes Confirmé SP -->
    <!-- Calendrier  -->
    <li ui-sref-active="active">
        <a ui-sref="app.calendrier">
            <div ng-if="userR === 'Service Clients'" class="item-content">
                <div class="item-media">
                    <i class="fa fa-calendar" aria-hidden="true"></i>
                </div>
                <div class="item-inner">
                    <span class="title"> Calendrier </span>
                </div>
            </div>
        </a>
    </li>
    <!-- Fin : Calendrier  -->
    <!-- Debut : Calendrier SL -->
    <li ui-sref-active="active">
        <a ui-sref="app.calendrier">
            <div ng-if="userR === 'Service Livraison'" class="item-content">
                <div class="item-media">
                    <i class="fa fa-calendar" aria-hidden="true"></i>
                </div>
                <div class="item-inner">
                    <span class="title"> Calendrier </span>
                </div>
            </div>
        </a>
    </li>
    <!-- Fin : Calendrier SL -->
    <!-- Commandes a preparer  -->
   
    <!-- Fin : Commande a preparer  -->
    <!-- Commandes a preparer  -->
    <li ui-sref-active="active">
        <a ui-sref="app.cmdl">
            <div ng-if="userR === 'Service Production'" class="item-content">
                <div class="item-media">
                    <i class="fa fa-check-square" aria-hidden="true"></i>
                </div>
                <div class="item-inner">
                    <span class="title"> Commandes a livrer  </span>
                </div>
            </div>
        </a>
    </li>
    <!-- Fin : Commande a preparer  -->
    <!-- Commandes a collecter  -->
    <li ui-sref-active="active">
        <a ui-sref="app.ToCollecte">
            <div ng-if="userR === 'livreur'" class="item-content">
                <div class="item-media">
                    <i class="fa fa-truck" aria-hidden="true"></i>
                </div>
                <div class="item-inner">
                    <span class="title"> Commandes a collecter  </span>
                </div>
            </div>
        </a>
    </li>
    <!-- Fin : Commande a collecter  -->
    <!-- Commandes a collecter  -->
    <li ui-sref-active="active">
        <a ui-sref="app.ToDeliver">
            <div ng-if="userR === 'livreur'" class="item-content">
                <div class="item-media">
                    <i class="fa fa-rocket" aria-hidden="true"></i>
                </div>
                <div class="item-inner">
                    <span class="title"> Commandes a livrer  </span>
                </div>
            </div>
        </a>
    </li>
     <li ui-sref-active="active">
        <a ui-sref="app.cmdp">
            <div ng-if="userR === 'Service Production'" class="item-content">
                <div class="item-media">
                    <i class="fa fa-tasks" aria-hidden="true"></i>
                </div>
                <div class="item-inner">
                    <span class="title"> Commandes a preparer </span>
                </div>
            </div>
        </a>
    </li>
    <!-- Fin : Commande a collecter  -->

    <!-- <li ui-sref-active="active">
        <a ui-sref="app.Examples">
            <div class="item-content">
                <div class="item-media">
                    <i class="ti-home"></i>
                </div>
                <div class="item-inner">
                    <span class="title"> Example </span>
                </div>
            </div>
        </a>
    </li> -->
    <!-- Commandes En Cours -->
    <li ui-sref-active="active">
        <a ui-sref="app.CmdEnCours">
            <div ng-if="userR === 'Client'" class="item-content">
                <div class="item-media">
                    <i class="ti-home"></i>
                </div>
                <div class="item-inner">
                    <span class="title"> Commandes En Cours  </span>
                </div>
            </div>
        </a>
    </li>
    <!-- Fin Commandes En Cours -->
     <!-- Historique Client -->
    <li ui-sref-active="active">
        <a ui-sref="app.HistoriqueCmd">
            <div ng-if="userR === 'Client'" class="item-content">
                <div class="item-media">
                    <i class="ti-home"></i>
                </div>
                <div class="item-inner">
                    <span class="title"> Historique des commandes  </span>
                </div>
            </div>
        </a>
    </li>
    <!-- Fin Historique Client -->
    <!-- Reserver -->
    <!-- <li ui-sref-active="active">
        <a ui-sref="app.Reserver">
            <div class="item-content">
                <div class="item-media">
                    <i class="ti-home"></i>
                </div>
                <div class="item-inner">
                    <span class="title"> Reserver </span>
                </div>
            </div>
        </a>
    </li> -->
    <!-- Reserver -->
    <!-- Date -->
    <!-- <li ui-sref-active="active">
        <a ui-sref="app.Date">
            <div class="item-content">
                <div class="item-media">
                    <i class="ti-home"></i>
                </div>
                <div class="item-inner">
                    <span class="title"> Date </span>
                </div>
            </div>
        </a>
    </li> -->
    <!-- Fin : Date -->

    <!-- TableauC -->
    <!-- <li ui-sref-active="active">
        <a ui-sref="app.TableauC">
            <div class="item-content">
                <div class="item-media">
                    <i class="ti-home"></i>
                </div>
                <div class="item-inner">
                    <span class="title"> TableauC </span>
                </div>
            </div>
        </a>
    </li> -->
    <!-- Fin : TableauC -->
    <!-- Reservation -->
    <!-- 
    <li ui-sref-active="active">
        <a ui-sref="app.Reservation">
            <div class="item-content">
                <div class="item-media">
                    <i class="fa fa-bookmark-o" aria-hidden="true"></i>
                </div>
                <div class="item-inner">
                    <span class="title"> Reservation </span>
                </div>
            </div>
        </a>
    </li> -->
    <!-- Fin : Reservation -->
    <!-- MesCommandes -->

    <!-- <li ui-sref-active="active">
        <a ui-sref="app.mescommandes">
            <div class="item-content">
                <div class="item-media">
                    <i class="fa fa-sort" aria-hidden="true"></i>
                </div>
                <div class="item-inner">
                    <span class="title"> Mes Commandes </span>
                </div>
            </div>
        </a>
    </li> -->
    <!-- Fin : MesCommandes -->

</ul>

<!-- end: MAIN NAVIGATION MENU -->
<!-- start: CORE FEATURES -->

<!-- end: CORE FEATURES -->
<!-- start: DOCUMENTATION BUTTON -->

<!-- end: DOCUMENTATION BUTTON