<!-- start: PAGE TITLE -->
<section id="page-title">
    <div class="row">
        <div class="col-sm-8">
            <h1 class="mainTitle">Commandes en attente de confirmation</h1>
            <!-- <span class="mainDescription">Use this page to start from scratch and put your custom content</span> -->
        </div>
        <div ncy-breadcrumb></div>
    </div>
</section>
<!-- end: PAGE TITLE -->
<!-- start: YOUR CONTENT HERE -->
<div class="container">
    <!-- <div ng-controller="DatepickerDemoCtrl" class="row"> -->
    <div ng-controller="dynamicTableCtrl" class="row">
        <div class="col-md-12">
            <!-- <h5 class="over-title margin-bottom-15">Responsive <span class="text-bold">Table</span></h5> -->
            <!-- <p>
                Create responsive tables by wrapping any <code>.table</code> in <code>.table-responsive</code> to make them scroll horizontally on small devices (under 768px). When viewing on anything larger than 768px wide, you will not see any difference
                in these tables.
            </p>
            <div class="alert alert-info">
                Please try to re-size your browser window in order to see the tables in responsive mode.
            </div> -->
            <div ng-init="getCmdWait()" class="table-responsive">
                <div class=" table-responsive">
                    <table class="table table-bordered table-hover" id="sample-table-1">
                        <thead>
                            <tr>
                                <!-- <th>#</th>
                                    <th>Nom Client</th>
                                    <th>Prenom Client</th>
                                    <th>Date Fin Commande</th> 
                                    <th>Telephone Client</th>
                                    <th>Email </th>
                                    <th>Rermarques</th>
                                    <th>Type Client</th> -->
                                <th>#</th>
                                <th>Ref Client</th>
                                <th>Nom et Prenom Client</th>
                                <th>N° Telephone</th>
                                <!-- <th>Date Fin Commande</th> -->
                                <th>Date Debut Commande</th>
                                <th>Adresse Complete </th>

                                <th><i class="fa fa-time"></i> Modifier </th>
                                <th><i class="fa fa-trush"></i> Confirmer </th>

                            </tr>
                        </thead>
                        <tbody>



                            <tr ng-repeat="x in CmdWait track by $index">

                                <td>{{x.ID_COMMANDE}}</td>
                                <td>{{x.ID_CLIENT}}</td>
                                <td>{{x.NOM_CLIENT}} {{x.PRENOM_CLIENT}}</td>
                                <td>{{x.TELEPHONE_CLIENT}}</td>
                                <td>{{x.DD_COMMANDE}}</td>
                                <!-- <td>{{x.STATUS}}</td> -->
                                <td>{{x.Adresse_Complete}}</td>
                                <td>
                                    <!-- Script du Modal -->
                                    <script type="text/ng-template" id="asideContent.html">
                                        <div class="modal-header">
                                            <h3 class="modal-title">Modification du temps</h3>
                                        </div>
                                        <!-- invite du controller DatePickerDemoCtrl pour ajouter le fonctionnement de la date et l'heure -->

                                        <div ng-controller="dynamicTableCtrl">
                                            <div class="modal-body">

                                                <input type="text" id="dit1" class="form-control" uib-datepicker-popup="{{format}}" ng-model="dtt" is-open="inputopened" ng-init="inputopened = false" ng-click="inputopened = !inputopened" datepicker-options="datepickerOptions" ng-required="true" close-text="Close"
                                                />
                                                <uib-timepicker ng-model="hrr" ng-change="changed()" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></uib-timepicker>

                                            </div>
                                            <!-- invite du controller dynamictabctrl pour confirmer la modification grace a la fonction UpdateDate() -> OK   -->
                                            <div class="modal-footer">
                                                <button class="btn btn-primary" ng-click="dtclick($index)">OK</button>
                                                <button class="btn btn-primary" ng-click="cancel($event)">Cancel</button>
                                            </div>
                                            <div>
                                    </script>

                                    <button type="button" class="btn btn-primary btn-block btn-scroll btn-scroll-top ti-arrow-left" ng-click="openAside('left',$index)">
									<span>Modifier</span>
								</button>
                                    <!-- </div> -->
                                </td>
                                <!-- Button confirmer pour modifier le statut de la commande à confirmé -->
                                <td>
                                    <div class="center">
                                        <button type="button" ng-click="demo5($index)" class="btn btn-wide btn-success">
                                        Confirmer
                                    </button>
                                        <!-- button confirmé avec le script  -->
                                        <!-- <button type="button" class="btn btn-primary btn-block btn-scroll btn-scroll-top ti-arrow-right" ng-click="demo5($index)">Confirmer</button> -->
                                    </div>

                                </td>


                                <!-- <script type="text/ng-template" id="asideContent.html">
                                        <div class="modal-header">
                                            <h3 class="modal-title">Confirmation de Commande</h3>
                                        </div>
                                        <div class="modal-body">
                                            <!-- Id   : <input type="text" value="{{xxx.ID_COMMANDE}}"  ng-model="xxx.ID_COMMANDE" /><br>
                                        Date : <input type="text" value="{{xxx.DD_COMMANDE}}" ng-model="xxx.DD_COMMANDE" /><br>
                                        Nb Articles : <input type="text" value="{{xxx.NBR_ARTICLES}}" ng-model="xxx.NBR_ARTICLES" /><br> -->
                                <!-- Voulez Vous Vraiment Confirmer Cette Commande?
                                        </div>
                                        <div class="modal-footer">
                                            <!-- <button class="btn btn-primary" ng-click="ok($event)">Oui</button> -->
                                <!-- <button class="btn btn-primary" ng-click="ok($event)">Oui</button>
                                            <button class="btn btn-primary" ng-click="cancel($event)">Annuler</button>
                                        </div>
                                    </script> -->



                                <!-- <td><span class="label label-sm label-success">Registered</span></td>
                            <td><span class="label label-sm label-danger">Expired</span></td>
                            <td><span class="label label-sm label-inverse">Flagged</span></td> -->
                            </tr>
                        </tbody>
                    </table>
                    </div>
                    </div>
                </div>
            </div>
            <!-- </div> -->

        </div>


        <!-- end: YOUR CONTENT HERE -->-